<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Skynet Markdown Editor</title>
    <module href="/components/head.html"></module>
    <link rel="manifest" href="manifest.json" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  </head>

  <body style="height: 100vh;">
    <div class="center">
      <div id="editor">
      </div>
    </div>
    <script src="jquery.min.js"></script>
    <script src="bundle.js" defer async></script>
  </body>
</html>
