//@import 'colors.scss';
@import 'global.scss';
@import '~bootstrap/scss/bootstrap';
@import '~@toast-ui/editor/dist/toastui-editor';

/* Table modifications */
.tabulator-row .tabulator-cell {
  border-right: none;
}

/* End Table modifications */

.loadPopover {
  width: 600px;
}

.tui-image-editor-item svg {
  vertical-align: baseline;
}