//@import 'colors.scss';
@import 'global.scss';


/* Table modifications */
.tabulator-row .tabulator-cell {
  border-right: none;
}

/* End Table modifications */

.loadPopover {
  width: 600px;
}

.tui-image-editor-item svg {
  vertical-align: baseline;
}